<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisTest.mapper.UsersMapper">
    <!-- 配置映射的SQL语句 -->
    <select id="doLogin" parameterType="user" resultType="Integer">
	   		select count(*) from users where loginId=#{loginId} and loginPwd=#{loginPwd}
   </select>

    <select id="doRegister" statementType="CALLABLE">
          {call sp_register(
             #{user.loginId,mode=IN,jdbcType=VARCHAR},
             #{user.loginPwd,mode=IN,jdbcType=VARCHAR},
             #{user.name,mode=IN,jdbcType=VARCHAR},
             #{user.address,mode=IN,jdbcType=VARCHAR},
             #{user.phone,mode=IN,jdbcType=VARCHAR},
             #{user.mail,mode=IN,jdbcType=VARCHAR},
             #{flag,mode=OUT,jdbcType=INTEGER})}
    </select>
    <select id="selectByFuzzy" resultType="user">
        select <include refid="usersColumns"/> from users where ${columnName} like concat('%',#{columnValue},'%')
    </select>
    <update id="editByColumn">
        update users set ${columnName}=#{modifiedValue} where  ${columnName}=#{originalValue}
    </update>
    <sql id="usersColumns">
        loginId,name,address,phone,mail
    </sql>
    <select id="doSelectBySQL" resultType="com.mybatisTest.pojo.User">
        select * from users where LoginId=${searchValue};
    </select>
    <select id="doLoginByCall" resultType="java.lang.Integer" statementType="CALLABLE">
        {call sp_login(
        #{loginId,mode=IN,jdbcType=VARCHAR},
        #{loginPwd,mode=IN,jdbcType=VARCHAR})}
    </select>
</mapper>